

body {
  min-height: 100vh;
  margin: 0;
  background-color: #FF9551;
}

/*dotted lines*/

hr {
  background-color: #ffffff00;
  height: 0px;
  border-style: dotted none none;
  border-color: #5b0000;
  border-width: 5px;
  width: 90%;
}

/* font colors and sizes*/

h1 {
  font-size: 50px;
  color: #5b0000;
}

ul {
  width: fit-content;
}

h3 {
  color: #5b0000;
  font-size: 30px;
}

label {
  color: #5b0000;
}

/*nav bar color and size*/
.navbar {
  overflow: hidden;
  background-color: #820000;
  position: fixed;
  top: 0;
  width: 100%;

}

/*nav bar text*/

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 18px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;

}



/*pfp as circle*/
.round {
  border-radius: 100%;
}


/* nav bar color change when mouse hover*/
.navbar a:hover {
  background: #5b0000;
  color: rgb(255, 255, 255);
}


.main {
  margin-top: 0px;
}


.yt {
  width: 100%;
}

.INSTAGRAM {
  width: 150px;
  height: 150px;

}

.TWITCH {
  width: 240px;
  height: 140px;
}

.YOUTUBE {
  width: 170px;
  height: 170px;
}

.insta {
  height: 80px;
  width: 80px;
}

.bckg {
  background-color: #FF9551;
  height: 250px;

}

.education {
  text-decoration: underline;
}

.namename {
  text-decoration: underline;
}


.dotted {border-style: dotted;}


/*#820000 for navbar
#FF9551 for background
#5b0000 when hover over navbar color*/