

body {
  min-height: 100vh;
 
  background-color: #FF9551;
  padding: 0%;
}

/*dotted lines*/

hr {
  background-color: #ffffff00;
  height: 0px;
  border-style: dotted none none;
  border-color: #5b0000;
  border-width: 5px;
  width: 90%;
  
}

/* font colors and sizes*/

h1 {
  font-size: 50px;

}

ul {
  width: fit-content;
}

h3 {

  font-size: 30px;
}

label {
  color: #5b0000;
}

/*nav bar color and size*/
.navbar {
  overflow: hidden;
  background-color: #820000;
  position: fixed;
 padding: 0%;
  width: 100%;
  z-index: 5;


}

/*nav bar text*/

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 20px 20px;
  text-decoration: none;
  height: 100%;

}



/*pfp as circle*/
.round {
  border-radius: 100%;
}


/* nav bar color change when mouse hover*/
.navbar a:hover {
  background: #5b0000;
  color: rgb(255, 255, 255);
}


.main {
  margin-top: 0px;
}


.yt {
  width: 100%;

}

.INSTAGRAM {
  width: 150px;
  height: 150px;

}

.TWITCH {
  width: 240px;
  height: 140px;
}

.YOUTUBE {
  width: 170px;
  height: 170px;
}

.insta {
  height: 80px;
  width: 80px;
}

.bckg {
  background-color: #FF9551;
  height: 250px;
  color: #5b0000;

}

.education {
  text-decoration: underline;
}

.namename {
  text-decoration: underline;
}


.dotted {border-style: dotted;}


#picslide {
  background-color:#820000;
  color: #ffffff;
  
}

#education {
  background-color: #FF9551;
  color: #5b0000;
}

#hobbies {
  background-color: #FF9551;
  color: #5b0000;
}


.container-fluid {
  margin: 0px;
  padding: 0px 0px;
}

.picslide-styling {
  width: 50%;
}

.picbackgrounds {
  background-color: #FF9551;
  text-align: center;
  color: #5b0000;
}

#pickback {
  padding: 5% 15%;

}

.col-sm-6 {
  padding: 0px -12;
}

.carousel-inner {
  min-height: 600px ;
}

#footer {
  padding: 5% 5%;
  text-align: center;
  background-color: #a00000;
}

.social-icon {
  margin: 20px 15px;
  font-size: 40px;
  color:#ffffff;

}

.social-icon:hover {

  margin: 20px 15px;
  color:rgb(158, 158, 158) ;
}

.foot-p {
  font-size: 30px;
  color: #ffffff;
}


/*#820000 for navbar
#FF9551 for background
#5b0000 when hover over navbar color*/

